In [1]:
import tabula
import pandas as pd
from IPython.display import display

In [2]:
# Pages selected depending on if we are getting the node data or transmission data from the PDF
f = 'Capability_Map_Report_2023.pdf'
pages = [14,15,16,17,18,19,20,21,22]

tables = tabula.read_pdf(f, pages=pages)

/Users/deepthought/opt/anaconda3/envs/Courses_311/lib/python3.11/site-packages/tabula/io.py:1054: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [3]:
all_df = []
# Just looping through all the tables on the given pages above and displaying them so I can see what is there.
for i, table in enumerate(tables):
    all_df.append(table)
    print(f"Table {i+1} from the PDF:")
    display(table.head())

Table 1 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,1002L,240,Amoco Empress,163S,48-Empress,AltaLink,158
3,1002L,240,Jenner,275S,48-Empress,AltaLink,265
4,1005AL,240,Little Bow,991S,49-Stavely,AltaLink,84

Table 2 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,1107L,240,NaN,SS-65,6-Calgary,Enmax,466
3,1148L,240,Shamrock,1018S,04-Medicine Hat,AltaLink,156
4,1148L,240,Whitla,251S,04-Medicine Hat,AltaLink,156

Table 3 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,434L,138,High River,65S,46-High River,AltaLink,33
3,463AL,138,Monarch,492S,54-Lethbridge,AltaLink,16
4,463L,138,Fort Macleod,15S,53-Fort Macleod,AltaLink,18

Table 4 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,669L,138,Cypress,562S,48-Empress,AltaLink,120
3,674L,138,Bowmanton,244S,04-Medicine Hat,AltaLink,35
4,674L,138,Chappice Lake,649S,04-Medicine Hat,AltaLink,35

Table 5 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,703L,138,Hardisty,377S,32-Wainwright,AltaLink,105
3,704L,138,Tucuman,478S,32-Wainwright,AltaLink,86
4,704L,138,Wainwright,51S,32-Wainwright,AltaLink,77

Table 6 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,795L,138,Brooks,121S,47-Brooks,AltaLink,84
3,795L,138,Hays,421S,52-Vauxhall,AltaLink,11
4,7L110,138,Monitor,774S,42-Hanna,ATCO,86

Table 7 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,7L79,138,Veteran,771S,42-Hanna,ATCO,108
3,7L79,138,Ribstone Creek,892S,42-Hanna,ATCO,103
4,7L79,138,Pemukan,932S,42-Hanna,ATCO,106

Table 8 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,863L,138,Magrath,225S,55-Glenwood,AltaLink,15
3,863L,138,Riverbend,618S,54-Lethbridge,AltaLink,15
4,869L,138,Amoco Empress,163S,48-Empress,AltaLink,44

Table 9 from the PDF:

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,954L,240,Hansman Lake,650S,37-Provost,AltaLink,390
3,955L,240,Goose Lake,103S,53-Fort Macleod,AltaLink,429
4,955L,240,Peigan,59S,53-Fort Macleod,AltaLink,398

In [4]:
# Combining all the individual dataframes above into a single dataframe
combined_dataframe = pd.concat(all_df, ignore_index=True)

display(combined_dataframe)

,Unnamed: 0,Voltage,Unnamed: 1,Facility,Unnamed: 2,Unnamed: 3,Capability
0,Line Name,NaN,Substation Name,NaN,Planning Area,TFO,NaN
1,NaN,(kV),NaN,Code,NaN,NaN,(MW)4
2,1002L,240,Amoco Empress,163S,48-Empress,AltaLink,158
3,1002L,240,Jenner,275S,48-Empress,AltaLink,265
4,1005AL,240,Little Bow,991S,49-Stavely,AltaLink,84
...,...,...,...,...,...,...,...
520,9L99,240,Sheerness,807S,43-Sheerness,ATCO,83
521,CHD-1,69,Magrath,225S,55-Glenwood,AltaLink,15
522,CHD-1,69,Taylor Hydro Plant,NaN,55-Glenwood,AltaLink,15
523,PCES01L,138,Namaka,428S,45-Strathmore/Blackie,AltaLink,5
524,PCES01L,138,Cavalier,NaN,45-Strathmore/Blackie,AltaLink,5

In [5]:
# Save out the dataframe
combined_dataframe.to_csv('../csv/transmission.csv')